.login-page {
  height: 100vh;
  display: grid;
  place-items: center;
  .wrapper {
    width: 450px;
    padding: 60px;
    border-radius: 3px;

    h2 {
      text-align: center;
    }

    input {
      width: 100%;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
