:root {
  --font-primary: "DM Sans";

  --black: #1b2437;
  --blue: #4c84ff;
  --red: #fa607e;
  --light-grey: #f5f7f9;
  --dark-grey: #8b93a6;
  --border-grey: #e4e4e4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  color: var(--black);
  background-color: var(--light-grey);
}

a {
  color: var(--blue);
  text-decoration: none;
}
