// a {
//   color: var(--blue);
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }
// }

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 30px;
}
